<!DOCTYPE html>

<html ng-app="angularApp">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/semantic.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="@{'/public/javascripts/angularModules/angular.min.js'}" type="application/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/angularModules/ng-table.js'}" type="application/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/angularModules/angular-route.js'}" type="application/javascript" charset="utf-8"></script>

        <script src="@{'/public/javascripts/semantic/semantic.js'}" type="application/javascript" charset="utf-8"></script>

        <script src="@{'/public/javascripts/controllers.js'}" type="application/javascript" charset="UTF-8"></script>
        <script src="@{'/public/javascripts/services.js'}" type="application/javascript" charset="UTF-8"></script>

        #{get 'moreScripts' /}
    </head>
    <body ng-controller="MainController">
    <div class="ui three item menu">
        <a class="item" href="@{Application.index()}">Search movie</a>
        <a class="item" href="@{ListController.lists()}">Lists</a>
        <a class="item" href="@{MovieController.movies()}">Movies</a>
    </div>
        #{doLayout /}
    </body>
</html>
